<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
</head>
<body>
    <div class="first_page">
        <div class="content">
            <div id="text_content"></div>
        </div>
    </div>
    <div class="second_page">
        <div class="content">
            <div id="greetings"></div>
        </div>
    </div>
    <div class="third_page">
        <div class="content">
            <div id="table_of_contents"></div>
        </div>
    </div>
    <div class="fourth_page">
        <div class="content">
            <div id="heading">SUMMARY</div>
            <div id="graph">
                <canvas id="donutChart"></canvas>
            </div>
        </div>
    </div>
    <div class="fourth_page">
        <div class="content">
            <div id="heading">HIGHLIGHTS</div>
            <div id="heading2">1.Revenue Growth</div>
            <div id="graph">
                <canvas id="myHorizontalBarChart" width="800" height="300"></canvas>
            </div>
        </div>
    </div>
    <div class="fourth_page">
        <div class="content">
            <div id="heading">HIGHLIGHTS</div>
            <div id="heading2">2.Expenditure Growth</div>
            <div id="graph">
                <canvas id="myHorizontalBarChart" width="800" height="300"></canvas>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
